// Colours
$dracula: #282a36;
$orient: #035a80;
$periwinkle: #C9D6FF;
$mercury: #E2E2E2;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Navigation
$navbar-height: 60px;
$navbar-margin-bottom: 0px;
$navbar-default-link-color: white;
$navbar-default-bg: $orient;
$navbar-border-radius: 0px;
$navbar-default-link-hover-color: darken($navbar-default-link-color, 10%);
$navbar-default-link-hover-bg: darken($orient, 10%);
$navbar-default-link-active-color: white;

// Tabs
$nav-tabs-justified-link-border-color: darken($dracula, 10%);
$nav-tabs-active-link-hover-bg: $orient;
$nav-tabs-active-link-hover-color: white !important;
$nav-link-hover-bg: $orient;
$nav-tabs-justified-active-link-border-color: darken($dracula, 10%);

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
