// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// CodeMirror
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/dracula.css";

//== MAIN ==//

body, html {
    background: $periwinkle;
    background: -webkit-linear-gradient(to right, $mercury, $periwinkle);
    background: linear-gradient(to right, $mercury, $periwinkle);
    color: $dracula;
    height: 100%;
    min-height: 700px;
}

.container-fluid {
    height: calc(100% - 62px);
}

.row {
    height: 100%;
}

.col-container {
    height: 100%;
    &:first-child {
        padding: 0;
    }
    &:nth-child(2) {
        padding-left: 30px;
    }
}

.navbar {
    border: 0;
    border-bottom: 2px solid darken($orient, 10%);
    box-shadow: 0px 0px 6px 1px darken($orient, 10%);
    .navbar-header {
        a {
            font-size: 25px;
            letter-spacing: 1.5px;
        }
    }
}

//== LEFT ==/

#execute-form {
    height: 100%;
    border: 4px solid darken($dracula, 10%);
    box-shadow: 0px 0px 6px 1px $dracula;
    .form-group {
        height: 90%;
        margin: 0;
        .CodeMirror {
            min-height: 100%;
            .CodeMirror-gutters {
                background-color: darken($dracula, 10%) !important;
            }
        }
    }
    .form-submit {
        height: 10%;
        button {
            width: 50%;
            outline: 0;
            color: white;
            background-color: lighten($dracula, 5%);
            border: none;
            border-top: 4px solid darken($dracula, 10%);
            height: 100%;
        }
        #ca-button {
            border-right: 2px solid darken($dracula, 10%);
            float: left
        }
        #cg-button {
            border-left: 2px solid darken($dracula, 10%);
            float: right;
        }
    }
}

//== CENTER ==//

#display-program-tree {
    height: 100%;
    display: none;
}

.controls-container {
    height: 10%;
    h3 {
        margin: 0;
        padding: 35px 0px 3px 0px;
        float: left;
        border-bottom: 2px solid darken($dracula, 10%);
    }
    .playback-buttons {
        float: right;
        padding: 35px 0px 8px 0px;
        .glyphicon {
            font-size: 1.75em;
            cursor: pointer;
            &:hover {
                color: lighten($orient, 10%);
            }
            &:active {
                color: $orient;
            }
        }
    }
}

.program-tree-container {
    height: 90%;
    padding-bottom: 25px;
}

.node rect {
    fill: lighten($dracula, 10%);
    stroke: $dracula;
    stroke-width: 3px;
}

.node text {
    fill: white;
}

.link {
    fill: none;
    stroke: darken($dracula, 10%);
    stroke-width: 2px;
}

.svg-container {
    height: 100%;
    svg {
        height: 100%;
        width: 100%;
    }
}

#pause-button {
    display: none;
}

//== RIGHT ==//

.data-heading-container {
    height: 10%;
    h3 {
        margin: 0;
        padding-top: 35px;
    }
}

#display-contextual-container, #display-generation-container {
    height: 100%;
    display: none;
    h3 {
        padding-bottom: 3px;
        border-bottom: 2px solid darken($dracula, 10%);
    }
}

.type-table-container, .address-table-container {
    overflow: auto;
}

.generation-explanations {
    height: 30%;
}

.address-table-container {
    clear: both;
    height: 30%;
}

.contextual-explanations {
    height: 45%;
}

.type-table-container {
    height: 45%;
}

.contextual-explanations, .generation-explanations, .code-template, .object-code {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: auto;
    }
    li {
        font-weight: bold;
        padding-left: 3px;
    }
}

.contextual-explanations, .generation-explanations {
    ul {
        height: calc(100% - 62px);
    }
    li:last-child {
        color: white;
        background-color: $orient;
    }
}

.code-template, .object-code {
    height: 30%;
    width: 47%;
    ul {
        height: calc(100% - 88px);
    }
}

.code-template {
    float: left;
}

.object-code {
    float: right;
}

.table-striped {
    margin: 0;
    color: white;
    border: 4px solid darken($dracula, 10%);
    box-shadow: 0px 0px 6px 1px $dracula;
    thead {
        background-color: lighten($dracula, 10%);
    }
    tbody {
        tr:nth-child(odd) {
    	    background-color: $dracula;
        }
        tr:nth-child(even) {
            background-color: darken($dracula, 10%);
        }
        tr:hover {
            cursor: pointer;
            background-color: $orient;
        }
    }
}
