// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// CodeMirror
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/dracula.css";

body, html, .container-fluid, .row {
    background-color: lighten($dracula, 10%);
    color: white;
    height: 100%;
}

.table-container {
    height: 100%;
    border-left: 2px solid darken($dracula, 10%);
}

.left-container, .center-container, .right-contextual-container, .right-generation-container {
    display: table;
    width: 100%;
    height: 100%;
}

.title-container, .controls-container, .data-heading-container {
    display: table-row;
}

.controls-container {
    button {
        margin-top: 45px;
        margin-right: 5px;
    }
    .glyphicon {
        margin-top: 45px;
        margin-left: 5px;
        font-size: 1.75em;
        cursor: pointer;
        &:hover {
            color: $dracula;
        }
        &:active {
            color: darken($dracula, 10%);
        }
    }
}

.data-heading-container {
    p {
        margin-top: 45px;
        margin-bottom: 0;
    }
}

.program-input-container, .program-tree-container, .data-container {
    display: table-cell;
    height: 100%;
}

.program-input-container {
    form {
        height: 100%;
        .form-group {
            height:90%;
            margin: 0;
            .CodeMirror {
                border: 2px solid darken($dracula, 10%);
                height:98%;
            }
        }
        .form-submit {
            height: 10%;
            padding-bottom: 25px;
            button {
                height: 100%;
                width: 100%;
            }
        }
    }
}

.program-tree-container, .data-container {
    height: 100%;
    padding-top: 5px;
    padding-bottom: 25px;
    overflow: auto;
}

.type-table-container {
    height: 50%;
    overflow: auto;
}

.address-table-container {
    height: 40%;
    overflow: auto;
}

.contextual-explanations {
    margin-top: 10px;
    height: 50%;
    overflow: auto;
}

.generation-explanations {
    margin-top: 10px;
    height: 30%;
    overflow: auto;
}

.code-template {
    margin-top: 10px;
    height: 30%;
    overflow: auto;
}

.node rect {
    fill: #fff;
    stroke: $dracula;
    stroke-width: 3px;
}

.node text {
    font: 11px "Raleway";
    fill: $dracula;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
}

.btn-execute {
    @include button-variant(white, $dracula, darken($dracula, 10%));
    border-width: 2px;
}

#pause-button, .right-generation-container {
    display: none;
}

.table-striped tbody {
    tr:nth-child(odd) {
	    background-color: $dracula;
    }
    tr:nth-child(even) {
        background-color: darken($dracula, 10%);
    }
    tr:hover {
        cursor: pointer;
        background-color: lighten($dracula, 10%);
    }
}
