// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// CodeMirror
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/dracula.css";

body, html, .container-fluid, .row {
    background-color: lighten($dracula, 10%);
    color: white;
    height: 100%;
}

.table-container {
    height: 100%;
}

.left-container, .center-container, .right-container {
    display: table;
    width: 100%;
    height: 100%;
}

.title-container, .controls-container, .data-heading-container {
    display: table-row;
}

.controls-container {
    p {
        margin-top: 45px;
        margin-bottom: 0;
    }
}

.data-heading-container {
    p {
        margin-top: 45px;
        margin-bottom: 0;
    }
}

.program-input-container, .program-tree-container, .data-container {
    display: table-cell;
    height: 100%;
}

.program-input-container {
    form {
        height: 100%;
        .form-group {
            height:90%;
            margin: 0;
            .CodeMirror {
                border: 2px solid darken($dracula, 10%);
                height:98%;
            }
        }
        .form-submit {
            height: 10%;
            padding-bottom: 25px;
            button {
                background-color: darken($dracula, 10%);
                height: 100%;
                width: 100%;
            }
        }
    }
}

.program-tree-container, .data-container {
    height: 100%;
    padding-top: 5px;
    padding-bottom: 25px;
    .program-tree, .data {
        height: 100%;
        // border: 1px solid black;
        overflow: auto;
    }
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
}
